body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}
a:active,
a:hover {
  outline: 0;
}
@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

 html {
  overflow-y: scroll;
}
* {
  margin: 0;
  padding: 0;
  -webkit-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #fff;
}
html {
  box-sizing: border-box;
  height: 100%;
}
body {
  box-sizing: inherit;
  height: 100%;
  font-size: 16px;
  text-align: left;
}
nav {
  position: relative;
  background-color: transparent;
}
nav input {
  display: none;
}
nav ul {
  display: none;
}
nav a {
  display: block;
  padding: 0.4em;
  background-color: #222;
}
nav a:hover {
  background-color: #404040;
}
nav label {
  display: block;
  position: relative;
  text-align: left;
  padding: 1em;
}
nav .burger {
  position: absolute;
  cursor: pointer;
  user-select: none;
  top: 0.8em;
  right: 0.4em;
  width: 2.4em;
  height: 2.4em;
}
nav .burger span {
  display: block;
  height: 3px;
  margin: 4px;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
nav input:checked ~ ul {
  display: block;
}
nav input:checked ~ label > .burger > span:nth-child(2) {
  width: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
nav input:checked ~ label > .burger > span:nth-child(1) {
  position: relative;
  top: 7px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}
nav input:checked ~ label > .burger > span:nth-child(3) {
  position: relative;
  top: -7px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
}
@media all and (min-width: 768px) {
  nav label {
    display: none;
  }
  nav ul {
    display: block;
    text-align: right;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul a {
    background-color: transparent;
  }
}
